body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Roboto','Source Sans Pro', Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}


/********** TOPBAR *********/

#topbar {
	font-family: Helvetica;
	margin: 0px;
	top: 0px;
	position: fixed;
	height: 24px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: 0px 13px 30px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 13px 30px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 13px 30px 0px rgba(0,0,0,0.1);
	z-index: 200;
}

#topbar-left {
	position: absolute;
	left: 10px;
}

#topbar-right {
	position: absolute;
	right: 15px;
	float: right;
}

.topbar-text {
	position: relative;
	top: -6px;
	font-size: 14px;
	display: inline;
	margin-right: 15px;
}

.topbar-text-stay {
	position: relative;
	top: -6px;
	font-size: 14px;
	display: inline;
	margin-right: 15px;
}

#topbar-title {
	font-weight: 600;
	top: -6px;
}

.topbar-icon {
	height: 63%;
	margin: 4px 5px;
}

.topbar-icon-hide {
	height: 63%;
	margin: 4px 5px;
}


#apple-logo {
	opacity: 1 !important;
	padding: 4.5px 10.5px;
	margin: 0px 4px;
	-webkit-filter: invert(0%);
	background-color: none;
}

#apple-logo:hover {
	cursor: hand;
}

#username {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 600;
}

#time {
	margin-left: 5px;
	margin-right: 0px;
}

#dropdown-menu {
	font-family: Helvetica;
	display: none;
	z-index: 150;
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
	width: 225px;
	position: absolute;
	left: 15px;
	top: 24px;
	background-color: rgba(247, 242, 239, 0.99);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px; 
}

.menu-item {
	width: 185px;
	margin: 4px 0px;
	padding: 2px 20px;
	font-size: 14px;
}

.menu-item:hover {
	-webkit-filter: invert(100%);
	background-color: #e59425;
	cursor: hand;
}

hr {
	border: 1px solid #e5e0de;
	opacity: 0.9;
}

/******** DOCK STUFF ********/

#dock {
	position: absolute;
	top: calc(50% - 220px/2 - 25px);
	width: 52px;
	height:220px;
	right: 0px;
	text-align: center;
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.1);
	background-color: rgba(255, 254, 249, 0.75);
	border-radius: 5px;
	-moz-border-raius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}

#dock-hover-area {
	z-index: 210;
	position: absolute;
	top: 25px;
	right: 0px;
	height: 100%;
	width: 160px;
}

#dock-title-container {
	position: absolute;
	top: calc(50% - 220px/2 - 25px);
	width: 90px;
}

.dock-title {
	background: white;
	padding: 5px 15px;
	font-size: 0.9em;
	text-align: center;
	border-radius: 5px;
	float: right;
	background-color: rgba(255, 255, 255, 0.75);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	opacity: 0;
	border: 0.5px solid rgb(232, 232, 232);
}

#about-title {
	margin-top: 12px;
}

#projects-title {
	margin-top: 16px;
}

#photos-title {
	margin-top: 16px;
}

#videos-title {
	margin-top: 17px;
}

#links-title {
	margin-top: 17px;
}

.dot {
	background-color: grey;
	height: 5px;
	width: 5px;
	float: left;
	margin: 19px 0px;
	margin-left: 2px;
	border-radius: 50%;
	opacity: 0;
}

.app-icon {
	position: relative;
	display: inline;
	width: 40px;
	margin: 2px;
	float: left;
}

/****** BACKGROUND IMAGE *******/

#change-bg-window {
	display: none;
}

#background {
	width: 100%;
	height: 100%;
	background-color: #FDF0CE;
}

.logo {
	position: absolute;
	width: 200px;
	margin: 0 auto;
	z-index: 1;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

#bg-image {
	position: fixed;
	opacity: 0.8;
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.bg-image:hover {
	cursor: hand;
}

.bg-image {
	float: left;
	width: 300px;
	height: 200px;
	object-fit: cover;
	margin: 20px;
}

#bg-replaced {
	position: fixed;
	/*
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/********* GENERIC WINDOW **********/

.window {
	overflow-y: scroll;
	overflow-x: hidden; 
	position: absolute;
	width: 95%;
	left: 2.5%;
	height: 85%;
	top: 65px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 34px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 34px 10px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 34px 10px rgba(0,0,0,0.2);
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px; 
	display: none;
}

.window-bar {
	z-index: 100;
	position: fixed;
	top: 40px;
	height: 25px;
	width: 95%;
	background-color: #dfdfdf;
	-moz-border-radius: 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; 
}

.window-options {
	z-index: 110;
	position: relative;
	top: 6px;
	left: 15px;
	height: 13px;
}
.close {
	z-index: 120;
	position: absolute;
	top: 6px;
	left: 15px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
}

.close:hover {
	cursor: hand;
}

.window-content {
	z-index: 90;
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: white; 
	border-radius: 5px;
}

/******* ABOUT ME WINDOW ********/

#about-window {
	display: none;
}

#about-me-content {
}

#about-me-left-content {
	float: left;
	position: absolute;
	width: 180px;
	top: calc(50% - 325px/2);
	margin-left: 15%;
	margin-right: 100px;
}

#about-me-pic {
	left: 0px;
	border-radius: 50%;
	width: 180px;
}

#about-me-name {
	margin-top: 25px;
	width: 180px;
	font-size: 2em;
	font-weight: 700;
}

#about-me-description {
	margin-right: 13px;
	text-align: right;
	line-height: 0;
	font-size: 1em;
	font-weight: 400;
}

#about-me-right-content {
	font-weight: 300;
	position: absolute;
	right: 15%;
	top: calc(50% - 249px/2);
	width: 350px;
}

#about-me-pic-right {
	padding-bottom: 20px;
	border-radius: 50%;
	width: 180px;
	display: none;
}

#about-me-right-content b {
	font-weight: 400;
}

#about-me-logo {
	margin-top: 30px;
	width: 100px;
}

/***** PROJECT WINDOW ******/

#projects-window {
	display: none;
}

/* bottom version
#project-thumbnail-container {
	position: fixed;
	width: 100%;
	height: 20%;
	background: rgb(251, 251, 251);
	opacity: 0.95;
	z-index: 2;
	box-shadow: -1px 0px 15px grey;
	top: calc(85% + 50px); /*peek
	left: 0px;
	transition: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}
*/

#projects-content {
	width: 100%;
}

#project-thumbnail-container {
	position: fixed;
	width: 20%;
	height: 100%;
	background: rgb(251, 251, 251);
	z-index: 2;
	transition: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	float: left;
	margin-left: -20%;
}

#project-thumbnail-container:hover {
	margin-left: 0px;
}

#projects-menu-icon {
	position: fixed;
	left: 20px;
	width: 30px;
	margin: 25px;
	z-index: 3;
	transition: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
}


#projects-menu-icon:hover {
	cursor: pointer;
}

.project-thumbnail {
	position: relative;
	width: 80%;
	border: 1px solid #e7e7e7;
	margin: 10%;
	display: block;
	top: 50px;
}

.project-thumbnail:hover {
	opacity: 0.7;
	cursor: pointer;
}

.project-content {
	transition: 0.5s;
	-webkit-transition-timing-function: ease-in-out;
	position: relative;
	margin-left: 0%;
	width: 100%;
	background: rgb(173, 177, 185);
}

.project-content .video-container {
}

.project-content .text {

	color: white;

}

.project-content .link {
	display: none;
}

.project-content .title {
	position: relative;
	font-size: 4em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	padding: 50px;
}

.project-content .video {
	position: relative;
	width: 60%;
	display: block;
	margin: 0 auto;
	box-shadow: 1px 1px 15px grey;
	background: white;
}

.project-content .description {
	position: relative;
	width: 50%;
	margin: 0 auto;
	padding: 50px;
	line-height: 1.5;
}

#proj1 {
	display: block;
}

#proj2 {
	display: none;
}

#proj3 {
	display: none;
}

#proj4 {
	display: none;
}

.live {
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
}

/* TEMPORARY */
.temp {
	position: relative;
	top: 50%;
	font-size: 3em;
	font-weight: 500;
	letter-spacing: 5px;
	-webkit-transform: translateY(-50%);
}