body {
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: 'Indie Flower', cursive;
} 

#container {
	position: fixed;
	left: calc(50% - 366px/2);
	top: 125px;
	height: 614.4px;
}

#phone {
	position: absolute;
	height: 614px;
	z-index: -1;
}

.screen {
	display: none;
	position: absolute;
	height: 393px;
	z-index: 1;
	left: 72px;
	top: 91px;
}

#home {
	display: block;
}

#button-container {
	display: none;
}

.half-button {
	position: absolute;
	height: 393px;
	width: 110.5px;
	z-index: 2;
	top: 91px;
	cursor: hand;
}

#button-q {
	left: 72px;
}

#button-a {
	left: 182.5px; 
	/* 182.5 = 72 + 110.5 */
}

#answer-em-button {
	display: none;
	position: absolute;
	width: 221px;
	height: 55px;
	bottom: 130px;
	left: 72px;
	z-index: 2;
	cursor: hand;
}

.back {
	display: none;
	position: absolute;
	z-index: 2;
	top: 112px;
	left: 85px;
	width: 34px;
	height: 21px;
	cursor: hand;
}

#title {
	text-align: center;
	margin-top: 50px;
	font-family: Open Sans;
	font-weight: 700;
	font-size: 48px;
}

.arrow {
	height: 70px;
}

#arrow-right-container {
	display: none;
	position: absolute;
	right: calc(50% - 366px/2 - 40px);
	top: 350px;
}

#clickme {
	margin-left: 20px;
	font-size: 20px;
}

#arrow-right {
	margin-right: 10px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#temp {
	display: none;
	font-family: Helvetica, San Serif;
	font-size: 14px;
	font-weight: 100;
	text-align: center;
	position: absolute;
	left: calc(50% - 366px/2 - 220px);
	top: 380px;
}

