body {
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
}

#speil {
	position: relative;
	width: 650px;
	margin: 50px;
	font-size: 2.5rem;
	color: #1C1714;
	font-family: 'Arimo', sans-serif;
}

.wrapper {
	margin: 0 auto;
    width: 1000px;
    margin-top: 100px;
}

.banner {
	height: 250px;
	overflow: hidden;
	width: calc(100vw + 400px);
	padding: 30px 0;
	margin-bottom: 50px;
}

.banner img {
	height: calc(100% - 50px);
	margin: 25px 50px;
	transition: 0.8s ease;
}

.banner img:hover {
	transform: scale(1.3);
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}


.first {
	-webkit-animation: bannermove 30s linear infinite;
	-moz-animation: bannermove 30s linear infinite;
	-ms-animation: bannermove 30s linear infinite;
	-o-animation: bannermove 30s linear infinite;
	animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: calc(-100vw - 600px);
	}
}

@-moz-keyframes "bannermove" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: calc(-100vw - 600px);
	}
}

@-webkit-keyframes "bannermove" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: calc(-100vw - 600px);
	}
}

@-ms-keyframes "bannermove" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: calc(-100vw - 600px);
	}
}

@-o-keyframes "bannermove" {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: calc(-100vw - 600px);
	}
}

.case-study {
	width: 700px;
	height: 220px;
	padding: 30px 40px;
	margin: 30px auto;
	background: white;
	border-radius: 3px;
	transition: 0.3s ease;
	border: 1px solid #FAFAFA;
}

.case-study:hover {
	cursor: pointer;
	box-shadow: 0px 2px 20px rgba(229,229,229,50);
}

.case-study .text {
	float: left;
	width: 300px;
	margin-top: 20px;
}

.case-study .title {
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: 1px;
	color: #4A4A4A;
}

.case-study .description {
	margin-top: 20px;
	color: #9B9B9B;
	letter-spacing: 1px;
}


.case-study .thumbnail {
	float: right;
	height: 220px;
	width: 330px;
	object-fit: cover;
}

#footer {
	width: 780px;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	padding-bottom: 50px;
}

#footer img {
	padding: 0px 8px;
	float: right;
	width: 17px;
	height: 17px;
	opacity: 0.75;
}

#footer img:hover {
	opacity: 1;
}