body {
	background: whitesmoke;
}

svg {
	position: relative;
	display: block;
	width: 500px;
	margin: 0 auto;
	margin-top: 20%;
}
/*
path {
	stroke-dasharray: 1200;
	stroke-dashoffset: 1200;
	animation: dash 3s ease-in-out forwards;
	stroke: #2b2b2b;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

#fill {
	opacity: 0;
	animation: fill 3.5s ease-in-out forwards;
	-webkit-animation-delay: .5s;
    animation-delay: .5s
}

@keyframes fill {
	to {
		opacity: 1;
	}
}
*/

#bg-fill, #letter-fill {
	opacity: 0;
	-webkit-animation: bg-fill 2.5s ease forwards;
	animation: bg-fill 2.5s ease forwards;
	-webkit-animation-delay: 3s;
	animation-delay: 3s
}


#bg-outline {
	stroke-dasharray: 300;
	stroke-dashoffset: 100;
	-webkit-animation: bg-dash 3.5s ease-in-out forwards;
	animation: bg-dash 3.5s ease-in-out forwards;
}

.draw path {
	fill: none;
}

.draw {
	stroke-dasharray: 1010;
	stroke-dashoffset: 1010;
	-webkit-animation: dash 3.5s ease-in-out forwards;
	animation: dash 3.5s ease-in-out forwards;
}

#he3 {
	-webkit-animation: dash 2.5s ease-in-out forwards;
	animation: dash 2.5s ease-in-out forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes bg-dash {
	to {
		stroke-dasharray: 2400;
	}
}

@-webkit-keyframes bg-dash {
	to {
		stroke-dasharray: 2400;
	}
}

@keyframes bg-fill {
	to {
		opacity: 1;
	}
}

@-webkit-keyframes bg-fill {
	to {
		opacity: 1;
	}
}