body {
	margin: 0px;
	background-color: #e8b03b;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	transition: .7s;
}


.heading {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.3em;
	letter-spacing: 5px;
	color: white;
}

.title {
	margin: 5% 10%;
	margin-top: 7%;
}

.subtitle {
	font-size: 1em;
	position: absolute;
	top: 45%;
	padding: 10px;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	transition: .7s;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	letter-spacing: 2px;
}

.subtitle:hover {
	color: white;
}

.panel {
	position: relative;
	width: 49%;
	display: inline-block;
	height: 40%;
	margin: 5% 0%;
}

.left {
	color: white;
	background: #0293c0;
	border: 1.5px solid white;
}

.right {
	color: white;
	background: #c93354;
	border: 1.5px solid white;
}

#panel-left {
	border-right: 1px solid white;
}

.content {
	text-align: center;
	position: absolute;
	width: 100%;
	margin-top: 10%;
}

.links {
	font-size: 1.5em;
	line-height: 1.5;
	letter-spacing: 2px;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	transition: .7s;
}

.links:hover {
	color: #e8b03b;
}

a {
	text-decoration: none;
	color: white;
}

#background-web {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #0293c0;
}

.video {
	margin-top: 0px;
	margin-bottom: 20px;
}

.insta {
	font-size: 0.8em;
	margin-top: 5%;
}


.hidden {
	position: absolute;
	top: 70%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	font-size: 0.5em;
	letter-spacing: 2px;
	display: none;
}




