body {
    font-family: 'Open Sans';
    margin: 0;
    color: red;
}

#main-container {
    height: 1743px;
    width: 980px;
    text-align: center;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0px 20px;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0px 20px;
    padding-bottom: 20px;
    color: rgba(0,0,0,0.6);
}

#sound-container {
    height: 1600px;
    background: white;
}

.sound {
    margin: 10px;
    width: 467px;
    height: 770px;
    float: left;
    background: lightblue;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom: 2.5px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    opacity: 0.8
}

.sound:active {
    background: navajowhite;
    color: white;
}

.sound-title {
    position: relative;
    font-size: 2em;
    line-height: 1;
    margin: 0px 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 400;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}